
footer {
  background     : #35485d;
  color          : #829bb7;
  padding        : 1rem 0;
}

footer hr {
  border          : none;
  border-bottom   : 1px dotted #829bb7;
  margin-bottom   : 1rem;
  padding-bottom  : 1rem;
}

footer a,
footer a:visited {
  color          : #829bb7;
  font-size      : .8rem; 
}

footer div.creative-commons a {
  font-size       : 2rem;
  letter-spacing  : .5rem;
}